# Node
node_modules/
**/node_modules/
pnpm-debug.log*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
.idea/
.vscode/

# Env files
.env
.env.*
!*.env.example
frontend/.env*

# Builds / Artifacts
dist/
build/
artifacts/
cache/
typechain-types/
coverage/
coverage.*

# Next.js
.next/
out/
frontend/.next/
frontend/out/
frontend/.vercel/

# Misc
*.log
logs/
